mixin videoBlock(video = {})
    .videoBlock
        a(href=routes.videos+routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src=video.fileUrl, controls=true)
            h4=video.title
            h6=video.description
            p=video.fileUrl